<style>
#articleTable thead tr th {
    padding-left: 20px;
}
</style>

<% stylesheets 'tables' %>
<% javascripts 'tables' %>

<%= render partials[:nav] %>

<div class="page-container">    
    <%= render partials[:header] %>

    <div class="page-content-wrapper">
        <div class="content">
            <div class="jumbotron" data-pages="parallax">
                <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                    <div class="inner">
                        <ul class="breadcrumb">
                            <li>
                                <p>Articles</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container-fluid container-fixed-lg bg-white">
                <div class="panel panel-transparent">
                    <div class="panel-heading">
                        <div class="btn-group pull-right m-b-10">
                            <a href="<%= new_pw_article_path %>" class="btn btn-default">New Article</a>
                            <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="tables.html#">Settings</a></li>
                                <li><a href="tables.html#">Help</a></li>
                            </ul> -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover" id="articleTable">
                                <thead>
                                    <tr>
                                        <th style="width:1%">
                                            <button class="btn"><i class="pg-trash"></i>
                                            </button>
                                        </th>
                                        <th style="width:20%">Title</th>
                                        <th>Content</th>
                                        <th style="width:20%">Tags</th>
                                        <th style="width:10%">Status</th>
                                        <th style="width:16%">Last Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @articles.each do |article| %>
                                    <tr>
                                        <td class="v-align-middle">
                                            <div class="checkbox ">
                                                <input type="checkbox" value="3" id="checkbox1">
                                                <label for="checkbox1"></label>
                                            </div>
                                        </td>
                                        <td class="v-align-middle ">
                                            <p><a href="<%= edit_pw_article_path(article.id) %>"><%= article.title %></a></p>
                                        </td>
                                        <td class="v-align-middle post-content">
                                            <p><%= raw(article.content) %></p>
                                        </td>
                                        <td class="v-align-middle">
                                            <% 
                                                if !article.tags.nil?
                                                    tags = article.tags.split(",")
                                                    article.tags.split(",").each do |tag|
                                            %>
                                                <a href=""><%= tag %></a><% if tag != tags.last %>,<% end %> 
                                            <% 
                                                    end 
                                                end
                                            %>
                                        </td>
                                        <td class="v-align-middle">
                                            <p><%= article.status.titlecase %></p>
                                        </td>
                                        <td class="v-align-middle">
                                            <p><%= format_date(article.updated_at, "%Y-%m-%d %I:%m %p") %></p>
                                        </td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <%= render partials[:footer] %>
    </div>
</div>

<script type="text/javascript">
$(function() {
    var styles = {
        'margin-top' : '-5px',
        'max-height' : '80px',
        'font-family' : 'inherit',
        'font-size' : 'inherit',
        'color' : 'inherit',
        'line-height' : 'inherit',
        'text-align' : 'inherit',
        'overflow' : 'hidden'
    };

    $('.post-content p').css(styles);
    $('.post-content span').css(styles);
});
</script>