<style>
.post-content {
    max-height: 95px;
    overflow: hidden;
    margin-bottom: 10px;
}
</style>

<!-- End Site Header --> <!-- Start Hero Slider --> 
<div class="hero-slider heroflex flexslider clearfix" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-speed="7000" data-pause="yes">
    <ul class="slides">
        <li class="parallax" style="background-image:url('images/slide1.9aebb732.jpg')">
            <div class="flex-caption" data-appear-animation="fadeInRight" data-appear-animation-delay="500">
                <strong>SBFCC Charity Mission</strong> 
                <p>For the Province of Leyte</p>
            </div>
        </li>
        <li class="parallax" style="background-image:url('images/slide2.411eaa79.jpg')">
            <div class="flex-caption" data-appear-animation="fadeInRight" data-appear-animation-delay="500">
                <strong>SBFCC Charity Mission</strong> 
                <p>Under one of the make-shift classrooms, Pres. Rose played the role of a teacher to the Grade 4 students of Guindag-an Elementary School.</p>
            </div>
        </li>
    </ul>
    <canvas id="canvas-animation"></canvas>
</div>
<!-- End Hero Slider --> 
<!-- <div class="upcoming-event-bar event-dynamic">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <span class="label label-primary">Upcoming Event</span> 
                <h3><a href="single-event.html" class="event-title">7th Year Anniversary Celebration and Family Day</a></h3>
                <span class="meta-data">On <span class="event-date">Aug 02, 15</span> at <span class="event-time">08:00 AM</span> at</span><span class="meta-data event-location"> <span class="event-location-address">Subic Gym</span></span> 
            </div>
    
            <div class="col-md-5 col-sm-7">
                <div id="counter" class="counter clearfix" data-date="Aug 02, 2015">
                    <div class="timer-col"> <span id="days"></span> <span class="timer-type">Days</span> </div>
                    <div class="timer-col"> <span id="hours"></span> <span class="timer-type">Hours</span> </div>
                    <div class="timer-col"> <span id="minutes"></span> <span class="timer-type">Minutes</span> </div>
                    <div class="timer-col"> <span id="seconds"></span> <span class="timer-type">Seconds</span> </div>
                </div>
            </div>
    
            <div class="col-md-2 text-align-right">
                <ul class="action-buttons">
                    <li title="Share event"><a href="index1.html#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
                    <li title="Get directions" class="hidden-xs"><a href="index1.html#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
                    <li title="Contact event manager"><a href="index1.html#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li>
                </ul>
                <a href="index1.html#" class="btn btn-primary btn-sm event-tickets event-register-button">Register</a> 
            </div>
        </div>
    </div>
    </div> -->
<!-- Lead Content --> 
<div class="lead-content clearfix">
    <div class="lead-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 featured-block">
                    <h3>Our Community</h3>
                    <figure> <a href="about.html"><img src="images/img_community.3e5364d2.jpg" alt="Our Community"></a> </figure>
                    <p>Welcome to the Subic Bay Freeport Chamber of Commerce. The Chamber is an independent, nonprofit, membership-funded organization founded in 1995 to serve and represent the interests of its member businesses.</p>
                </div>
                <div class="col-md-4 col-sm-4 featured-block">
                    <h3>Our Mission</h3>
                    <figure> <a href="donate.html"><img src="images/img_mission.10caa30e.jpg" alt="Our Community"></a> </figure>
                    <p>The number 1 voice of business in the Freeport</p>
                </div>
                <div class="col-md-4 col-sm-4 featured-block">
                    <h3>Our Subic Bay</h3>
                    <figure> <a href="new-here.html"><img src="images/subicbay.3d1da1a4.jpg" alt="Our Community"></a> </figure>
                    <p>Your visual Guide to the Hotest Investment and Tourism destination in the Philippines.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Body Content --> 
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <div class="widget latest_sermons_widget">
                        <ul>
                            <li class="most-recent-sermon clearfix">
                                <h3>Recent Events</h3>
                                <hr class="sm">
                                <div class="latest-sermon-video fw-video">
                                    <!--<iframe src="https://player.vimeo.com/video/37540860?title=0&byline=0&portrait=0" width="500" height="281"></iframe>--> <img src="images/icc2014.19c908f1.jpg"> 
                                </div>
                                <div class="latest-sermon-content">
                                    <h4><a href="single-sermon.html">2014 International Coastal Cleanup Zambales</a></h4>
                                    <div class="meta-data">by <a href="index1.html#">The Lighthouse Marina Resort Legacy Foundation</a></div>
                                    <p>celebrates the International Coastal Cleanup Zambales. And over 50,000 volunteers joined for the cleanup drive....</p>
                                </div>
                                <div class="sermon-links">
                                    <ul class="action-buttons">
                                        <li><a href="single-sermon.html" data-toggle="tooltip" data-placement="right" data-original-title="Watch Video"><i class="icon-video-cam"></i></a></li>
                                        <li><a href="single-sermon.html" data-toggle="tooltip" data-placement="right" data-original-title="Listen Audio"><i class="icon-headphones"></i></a></li>
                                        <li><a href="single-sermon.html" data-toggle="tooltip" data-placement="right" data-original-title="Download Audio"><i class="icon-cloud-download"></i></a></li>
                                        <li><a href="single-sermon.html" data-toggle="tooltip" data-placement="right" data-original-title="Download PDF"><i class="icon-download-folder"></i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="element-block events-listing">
                        <div class="events-listing-header">
                            <a href="events.html" class="pull-right basic-link">All Events</a> 
                            <h3 class="element-title">Upcoming Events</h3>
                            <hr class="sm">
                        </div>
                        <div class="events-listing-content">
                            <div class="event-list-item event-dynamic">
                                <div class="event-list-item-date"> <span class="event-date"> <span class="event-day">03</span> <span class="event-month">Aug, 15</span> </span> </div>
                                <div class="event-list-item-info">
                                    <div class="lined-info">
                                        <h4><a href="single-event.html" class="event-title">Typhoon Series 4</a></h4>
                                    </div>
                                    <div class="lined-info"> <span class="meta-data"><i class="fa fa-clock-o"></i> Monday, <span class="event-time">10:00 AM</span></span> </div>
                                    <div class="lined-info event-location"> <span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address">SBYC</span></span> </div>
                                </div>
                                <div class="event-list-item-actions">
                                    <a href="index1.html#" class="btn btn-default btn-transparent event-tickets event-register-button">Register</a> 
                                    <ul class="action-buttons">
                                        <li title="Share event"><a href="index1.html#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
                                        <li title="Get directions" class="hidden-xs"><a href="index1.html#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
                                        <li title="Contact event manager"><a href="index1.html#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="event-list-item event-dynamic">
                                <div class="event-list-item-date"> <span class="event-date"> <span class="event-day">06</span> <span class="event-month">Aug, 15</span> </span></div>
                                <div class="event-list-item-info">
                                    <div class="lined-info">
                                        <h4><a href="single-event.html" class="event-title">4th Environmental Forum for Subic Bay Poluution Officers</a></h4>
                                    </div>
                                    <div class="lined-info"> <span class="meta-data"><i class="fa fa-clock-o"></i> Sunday, <span class="event-time">05:00 PM</span></span> </div>
                                    <div class="lined-info event-location"> <span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address">SBECC VIP 1 and 2</span></span> </div>
                                </div>

                                <div class="event-list-item-actions">
                                    <a href="index1.html#" class="btn btn-default btn-transparent event-tickets event-register-button">Register</a> 
                                    <ul class="action-buttons">
                                        <li title="Share event"><a href="index1.html#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
                                        <li title="Get directions" class="hidden-xs"><a href="index1.html#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
                                        <li title="Contact event manager"><a href="index1.html#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="event-list-item event-dynamic">
                                <div class="event-list-item-date"> <span class="event-date"> <span class="event-day">09</span> <span class="event-month">Aug, 15</span> </span> </div>
                                <div class="event-list-item-info">
                                    <div class="lined-info">
                                        <h4><a href="single-event.html" class="event-title">Shout Out Marathon</a></h4>
                                    </div>
                                    <div class="lined-info"> <span class="meta-data"><i class="fa fa-clock-o"></i> Monday, <span class="event-time">10:00 AM</span></span> </div>
                                    <div class="lined-info event-location"> <span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address">CBD Area / Boardwalk</span></span> </div>
                                </div>
                                <div class="event-list-item-actions">
                                    <a href="index1.html#" class="btn btn-default btn-transparent event-tickets event-register-button">Register</a> 
                                    <ul class="action-buttons">
                                        <li title="Share event"><a href="index1.html#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
                                        <li title="Get directions" class="hidden-xs"><a href="index1.html#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
                                        <li title="Contact event manager"><a href="index1.html#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-30"></div>

        <div class="lgray-bg padding-tb45">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <% 
                            if !@posts.empty? 
                                post_path = post_slug_path(@posts.first.category_slug, @posts.first.slug)
                                category_path = post_category_path(@posts.first.category_slug)
                        %>
                        <h3>From our blog</h3>
                        <hr class="sm">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="very-latest-post format-standard">
                                    <div class="title-row">
                                        <a href="<%= post_path %>#comments" class="comments-go" title="10 comments">
                                        <i class="icon-dialogue-text"></i></a> 
                                        <h4>Very latest</h4>
                                    </div>
                                    <% if @posts.first.cover.exists? %>
                                    <a href="<%= post_path %>" class="media-box post-thumb"> 
                                        <img src="<%= @posts.first.cover.url(:medium) %>" alt="">
                                    </a> 
                                    <% end %>
                                    <h3 class="post-title">
                                        <a href="<%= post_path %>"><%= @posts.first.title %></a>
                                    </h3>
                                    <div class="meta-data">by <a href=""><%= @posts.first.company_id == nil ? Category.default.titlecase : @posts.first.company_name %></a> on <%= format_post_published_date(@posts.first.published_at) %> in <a href="<%= category_path %>"><%= @posts.first.category_name %></a></div>
                                    <div class="post-content">
                                        <%= raw(@posts.first.content) %>
                                    </div>
                                    <p><a href="<%= post_path %>" class="btn btn-primary">Continue reading</a></p>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <ul class="blog-classic-listing">
                                    <% 
                                        @posts.each.with_index do |post, index| 
                                            next if index == 0

                                            post_path = post_slug_path(post.category_slug, post.slug)
                                            category_path = post_category_path(post.category_slug)
                                        %>
                                    <li class="format-standard">
                                        <div class="row">
                                            <div class="col-md-4"> 
                                                <% if post.cover.exists? %>
                                                <a href="<%=  post_path%>" class="media-box post-thumb"> 
                                                <img src="<%= post.cover.url(:small) %>" alt="">
                                                </a>
                                                <% else %>
                                                <img src="<%= asset_path('img_not_available.png') %>" alt="" width="100">
                                                <% end %>
                                            </div>
                                            <div class="col-md-8">
                                                <a href="<%= post_path %>">
                                                    <strong class="post-title"><%= post.title %></strong>
                                                </a> 
                                                <div class="meta-data">by <a href=""><%= post.company_id == nil ? Category.default.titlecase : post.company_name %></a> on <%= format_post_published_date(post.published_at) %> in <a href="<%= category_path %>"><%= post.category_name %></a></div>
                                                <div class="post-content">
                                                    <%= raw(post.content) %>
                                                </div>
                                                <p>
                                                    <a href="<%= post_path %>" class="basic-link">      Continue reading
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Body Content --> <!-- Gallery updates --> 
<div class="gallery-updates cols5 clearfix">
    <ul>
        <li class="format-image"><a href="images/gallery_img1.c93c1766.jpg" data-rel="prettyPhoto" class="media-box"><img src="images/gallery_img1.c93c1766.jpg" alt=""></a></li>
        <li class="format-standard">
            <div class="flexslider galleryflex" data-autoplay="yes" data-pagination="yes" data-arrows="no" data-style="slide" data-pause="yes">
                <ul class="slides">
                    <li class="item"><a href="images/gallery_img5.36d4ba5d.jpg" data-rel="prettyPhoto[postname1]"><img src="images/gallery_img5.36d4ba5d.jpg" alt=""></a></li>
                    <li class="item"><a href="images/event_img2.d7dd80ac.jpg" data-rel="prettyPhoto[postname1]"><img src="images/gallery_img4.5b474e02.jpg" alt=""></a></li>
                </ul>
            </div>
        </li>
        <li class="format-image"><a href="images/gallery_img2.b7ea2c5c.jpg" data-rel="prettyPhoto" class="media-box"><img src="images/gallery_img2.b7ea2c5c.jpg" alt=""></a></li>
        <li class="format-standard">
            <div class="flexslider galleryflex" data-autoplay="yes" data-pagination="yes" data-arrows="no" data-style="fade" data-speed="4000" data-pause="yes">
                <ul class="slides">
                    <li class="item"><a href="images/gallery_img3.35b6e78f.jpg" data-rel="prettyPhoto[postname2]"><img src="images/gallery_img3.35b6e78f.jpg" alt=""></a></li>
                    <li class="item"><a href="images/event_img1.dc8709a5.jpg" data-rel="prettyPhoto[postname2]"><img src="images/gallery_img1.c93c1766.jpg" alt=""></a></li>
                </ul>
            </div>
        </li>
        <li class="format-video"><a href="http://vimeo.com/37540860" data-rel="prettyPhoto" class="media-box"><img src="images/gallery_img4.5b474e02.jpg" alt=""></a></li>
    </ul>
    <div class="gallery-updates-overlay">
        <div class="container">
            <i class="icon-multiple-image"></i> 
            <h2>Updates from our gallery</h2>
        </div>
    </div>
</div>
